/* Background for intro*/

.intro-section {
  background-image: linear-gradient(rgba(119,119,119,0.65), rgba(119,119,119,0.65)), url("../img/intro-cover.jpg");
  background-color: #433243; /* Used if the image is unavailable */
  height: 950px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}



/*intro text*/

.intro-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* heading text */

.heading-text{
  font-family: raleway;
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  padding-top: 20rem;
  padding-bottom: 1rem;
  text-decoration: underline;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
.heading-text {
  font-size: 3rem;
  }
}

/* sub-heading text */

.sub-heading-text{
  font-family: raleway;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
}

/* If the screen size is 600px wide or less */
@media screen and (max-width: 600px) {
.sub-heading-text {
  font-size: 1rem;
  }
}

/* Background for about*/

.about-section {
  background-color: #1abc9c;
  height: 950px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}


/* About heading text */

.about-heading-text{
  font-family: raleway;
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  padding-top: 10rem;
  padding-bottom: 1rem;
  text-decoration: underline;
}

.about-text{
  font-family: raleway;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
  margin-top: 1rem;
  margin-left: 10rem;
  margin-right: 5rem;
}

.about-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* If the screen size is 600px wide or less */
@media screen and (max-width: 600px) {
.about-text {
	font-size: 1rem;
	margin-left: 1rem;
    margin-right: 1rem;
	margin-bottom: 3rem;
}

.about-heading-text{
	font-size: 3rem;
}

.about-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
}

/*about pictures*/

.about-picture-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.about-picture{
  border-radius: 50%;
  max-width: 500px;
  height: auto;
  padding: 5rem;
  margin-right: 10rem;
}


/* If the screen size is 600px wide or less */
@media screen and (max-width: 600px) {
.about-picture {
  margin-top: 2rem;
  padding: 0rem;
  max-width: 200px;
  height: auto;
  display: flex;
  justify-content: center;
  margin-right: 0rem;
  }

.about-picture-flex {
  flex-direction: column;
  }
}






/* Background for team*/

.team-section {
  background-image: linear-gradient(rgba(119,119,119,0.65), rgba(119,119,119,0.65)), url("../img/team-cover.jpg");
  background-color: #eeee; /* Used if the image is unavailable */
  height: 950px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.team-heading-text{
  font-family: raleway;
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  padding-top: 9rem;
  padding-bottom: 1rem;
  text-decoration: underline;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
.team-heading-text {
  font-size: 3rem;
  }
}



/* Background for footer*/

.footer-section {
  background-color: #1abc9c;
  height: 200px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/*team pictures*/

.picture-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.picture{
  border-radius: 50%;
  max-width: 500px;
  height: auto;
  padding: 5rem;
}


/* If the screen size is 600px wide or less */
@media screen and (max-width: 600px) {
.picture {
  margin-bottom: 2rem;
  padding: 0rem;
  max-width: 200px;
  height: auto;
  }

.picture-flex {
  flex-direction: column;
  }
}
